
@import './variables';

#headertop{
    padding:10px 0px;
}

.border-bottom{
    border-bottom:1px solid #ddd;

    &.bg-dark{
        border-bottom:1px solid #464a4e
    }
}

.border-top{
    border-top:1px solid #ddd;
}

.ls-listing{
    &-card{

        h4.card-title{
            font-size: 16px;
            line-height: 1.5em;
            margin: 0;
            font-weight: 600;
            color: #333;
        }

        .card{
            margin-bottom:10px;
        }

        .card-body{
            padding:1.5em;
        }

    }

    &-more{
        font-size: 14px;
        color:#464a4e;
        line-height: 30px;
        font-weight: 400;
    }

    &-title{
        font-size:22px;
        font-weight: 400;
        line-height: 30px;
        margin-top:0px;
    }

    &-header{
        .swiper-wrapper{
            margin:0px 40px;
        }
    }
}

.list-tagging{
    .swiper-slide{
        background: transparent;

        &:last-child{
            margin-right: 60px !important;
        }
    }

    .swiper-button-next, 
    .swiper-container-rtl .swiper-button-prev,
    .swiper-button-prev, 
    .swiper-container-rtl .swiper-button-next{
        background-image:none;
    }
    .swiper-button-next,
    .swiper-button-prev{
        font-size:22px;
        background: #FFFFFF;
        line-height: 40px;
        padding: 0px 25px 0px 20px;
        
    }
    .swiper-button-next{
        margin-right: -10px;
    }
    .swiper-button-prev{
        margin-left: -10px;
    }

    .swiper-button-next.swiper-button-disabled, 
    .swiper-button-prev.swiper-button-disabled {
        opacity: 1;
        color: #000;
        pointer-events: none;
        cursor: default;
    }
}

.-card-explore{
    .card{
        background: transparent;
        text-align: center;
        border:0px;

        .card-body{
            padding:5px 0px;
        }

        img{
            max-height: 80px;
        }

        h5{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
        }
        
    }
}



#sidebar-left{
    margin-bottom:30px;
}

.aside{

    h2{
        font-size:1em;
        line-height: 1.6em;
        font-weight: 400;
    }
    a{
        text-decoration: none;
        color:$font-color-heading;

        &:hover{
            color: #dc0a0c;
        }
    }

    h3{
        border: 2px dashed #ddd;
        padding: 10px 15px;
        font-weight: 600;
        text-transform: uppercase;
        color: #dc0a0c;
    }
    


    &.related-post{
        ul{
            margin-left:0px;
            padding-left:0px;
            li{
                list-style: none;
                border-bottom:1px solid #ddd;
                padding:10px 0px;
            }
        }
        
    }

    &.content-related-article{
        background: #f8f8f8;
        padding:20px 30px;
        margin:15px 0px;
        border: 2px dashed #ddd;
        ul{
            margin-left:0px;
            padding-left:0px;
            li{
                list-style: none;
                border-bottom:1px solid #ddd;
                padding:10px 0px;
                
                a{
                    font-weight: 400;
                    color:$font-color;
                }
            }
        }
        h3{
            border:0px;
            padding-left:0px;
            padding-right:0px;
        }
    }

    &.author{
        h3{
            font-size:1em;
        }
        h4{
            font-weight: 400;
            margin: 10px 0px 5px 0px;
            font-size:15px;
        }
        h5{

        }
        .author-box{
            border-left: 2px dashed #ddd;
            border-right: 2px dashed #ddd;
            border-bottom: 2px dashed #ddd;
            padding: 10px 15px;
        }
        .author-bio p{
            font-size: 1em;
            line-height: 1.5em;
        }
        .author-image{

        }
        .authr-bio{
            font-size: 0.85em;
        }
        .author-badges{
            img{
                margin:5px;
                max-width: 20px;
            }
        }
        .author-xp{
            font-weight: 700;
            color: #f77f11;
            border-top: 1px solid;
            margin-top: 20px;
            padding: 10px 0px;
            text-align: left;
            border-bottom: 1px solid #f77f11;
        }
        .author-badge-title{

        }
        
    }


}

.author-disclaimer{
    border: 2px dashed #ddd;
    background: #f8f8f8;
    color:$font-color;
    padding:20px 30px;
    margin:15px 0px;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 1em;
}

.subscribe{
    padding: 30px 30px;
    border-left: 0px dashed #ddd;
    background-color: #f9f4ed;
    margin-bottom: 30px;

    h3{
        font-size:16px;
        font-weight: bold;
        letter-spacing: 0;
        text-transform: uppercase;
        color: #dc0a0c;
    }

    p{
        font-size: 1em;
        line-height: 1.5em;
        color:#343e47;
    }
    &-box{
        margin:10px 0px;
    }
}


.single-author{
    .author-image{
        text-align: center;    
    }
    .author-box{
        width:calc(100%-180);
        float:left;
    }
    .author-bio{

    }
    .author-badges{
        img{
            margin-right:10px;
        }
    }   
    .author-xp{
        color: #dc0a0c;
        text-align: center;
        padding: 5px;
        margin: 0 auto;
        margin-top: 15px;
        border: 2px dashed #ddd;
        font-weight: 600;
    }
    p{
    }
    p.author-bio{
        color:$font-color-heading;
        font-style: italic;
    }
}

#cover{
    .badge{
        border-radius: 0px;
        padding: 5px 10px;
    }
}
#content{
    img{
        max-width: 100%;
        height:auto;
    }

    p,li{
        font-size: 18px;
        color: rgb(52, 62, 71);
    }

    h2 {
        font-weight: 600;
        letter-spacing: -1px;
        font-size: 32px;
    }
}

figure.wp-caption{
    max-width:100% !important;
}


.related-thumb-post{
    margin:30px 0px;
    .card .card-thumb {
        height: 135px;
        overflow: hidden;
        border-radius: 5px;
    }
    .card-body{
        padding:5px 0px;
    }
    h3{
        margin-bottom:30px;
    }
    .card{
        border:0px;
        .card-title {
            font-size: 15px;
            line-height: 1.5em;
        }
    }
    .card-footer{
        display: none;
    }

}

#searchModal{ 
    padding-right: 15px;
    background: rgba(0,0,0,0.8);
    border:0px;

    .modal-dialog {
        max-width: 90%;
        margin: 30px auto;
    }
    .modal-content{
        background: transparent;
        color:#f8f8f8;
        border: 0px;
    }
    .modal-header,
    .modal-footer{
        border:0px;
    }
}

#navbarTop .btn.btn-link{
    padding: 9px 15px !important;
}

.avatar{
    border-radius:50%;
}

.author-card-item{
    margin-bottom:50px;
    position:relative;
    img.avatar{
        width:auto;
        border-radius:50% !important;
        margin-bottom:15px;
    }
    .author-badges img{
        max-width:25px;
        margin-right:10px;
    }

    .author-xp{
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(0,0,0,0.7);
        color: #ffffff;
        font-weight: 600;
        padding: 2px 10px;
        border-radius: 15px;
    }
    
    .card-body{
        padding:2em;
    }
    .author-bio p {
        font-size: 1em;
        line-height: 1.5em;
    }
}

.db-link{
    line-height: 30px;
    font-size: 11px;
    background: #25282f;
    padding: 0px 11px;
    text-align: center;
    border-radius: 20px;
    margin-left: 5px !important;
    color: #ffb930;
    text-decoration: none;
    width: 30px;
    height: 30px;
    margin-top:3px;
    &:hover{
        color:#FFFFFF;
    }
}

.author-bar{
    background: #24282e;
    padding: 5px 15px;
    border-radius: 20px;
    color: #ffb930;
    margin-left: 5px !important;
    text-decoration: none !important;
    
    img{
        margin-left: 5px;
        margin-right: -10px;
    }

    &:hover{
        color:#FFFFFF;
        text-decoration: none !important;
    }

    &-logout{
        line-height: 30px;
        background: #25282f;
        height: 30px;
        width: 30px;
        padding: 0px 10px;
        text-align: center;
        border-radius: 15px;
        margin-left: 5px !important;
        color: #ffb930;
        text-decoration: none;
        margin-top:3px;

        &:hover{
            color:#FFFFFF;
        }
    }
}


.ls-listpost-card{
    .card{
        margin-bottom:30px !important;

        .card-thumb{
            height:220px;
            overflow:hidden;
        }
    }  

    h4.card-title{
        font-size: 18px;
        line-height: 1.5em;
        margin: 0;
        font-weight: 600;
        color: #333;
    }
    
}

@media only screen and  (min-width: 991px) {
    .ls-listpost-card{
        .card{
            max-width:23%;
        }  
    }
}


.pagination{
    ul{
        list-style: none;
        margin-left:0px;
        padding-left:0px;
        &.page-numbers{
            
        }
        .page-numbers{
            padding: 5px 15px;
            border: 1px solid #ddd;
            margin: 1px;
            border-radius: 2px;

            &.current{
                font-weight: bold;
                background: #ddd;
            }
        }
    }
    li{
        float: left;
    }
    a{
        font-weight: bold;
        color: $font-color;
    }
    
    
}

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 20%;padding:0px 10px; }
/* 2 columns */
.grid-item--width2 { width: 40%; }
// Extra small devices (portrait phones, less than 576px)
@media only screen and  (min-width: 320px) {
    /* 5 columns for larger screens */
    .grid-sizer,
    .grid-item { width: 100%;padding:0px 10px; }

}
// Extra small devices (portrait phones, less than 576px)
@media only screen and  (min-width: 575px) {
    /* 5 columns for larger screens */
    .grid-sizer,
    .grid-item { width: 50%;padding:0px 10px; }

}
// Small devices (landscape phones, less than 768px)
@media only screen and  (min-width: 767px) {
    /* 5 columns for larger screens */
    .grid-sizer,
    .grid-item { width: 50%;padding:0px 10px; }
}

// Medium devices (tablets, less than 992px)
@media only screen and  (min-width: 991px) {
    /* 5 columns for larger screens */
    .grid-sizer,
    .grid-item { width: 33.3333333333%;padding:0px 10px; }
}

// Large devices (desktops, less than 1200px)
@media  only screen and (min-width: 1199px) {
        /* 5 columns for larger screens */
    .grid-sizer,
    .grid-item { width: 20%;padding:0px 10px; }

}



